.loading {
  text-align: center;
  font-size: 30px;
  color: blueviolet;
}

.greeting-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.greeting-content h1 {
  font-size: 50px;
  color: #ffff;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.greeting-content p {
  font-size: 70px;
  font-style: italic;
  width: 80%;
  text-align: justify;
  text-align: center;
}

.greeting-content span {
  color: red;
}
